@import "reset";
@import "variables";
@import "main/main-page";
@import "menu/menu";
@import "farms/farms";

h2 {
  font-size: @20;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

md-list md-list-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}

md-list-item:before {
  content: none;
}

.subheader {
  background: transparent !important;
}