@import "reset";
@import "variables";
@import "main/main-page";
@import "menu/menu";
@import "farms/farms";

h2 {
  font-size: @20;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
md-list[dnd-list] {
  min-height: 42px;
  padding-left: 0;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
md-list[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
md-list[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px;
}

md-list[dnd-list] md-list-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
md-list[dnd-list] md-list-item.selected {
  background-color: #dff0d8;
  color: #3c763d;
}

md-list-item:hover {
  cursor: move !important;
}

md-list-item [dnd-nodrag] {
  cursor: default;
}